name: Update Configs
permissions: write-all

on:
  repository_dispatch:

jobs:
  build:
    environment: repo
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4 

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        cache: 'pip' 

    - name: Install dependencies

      run: pip install -r requirements.txt

    - name: Run Script
      env:
        SECRET_KEY: ${{ secrets.SECRET_KEY }}
      run: python runner.py

    - name: Run Config script and save output to file
      run: python main.py
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
